@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');


#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #ffffff;
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  color: #2E4F3E;
}

h2 {
  margin: 0;
}

header {
  background-color: #2E4F3E;
}

nav a {
  text-align: center;
  color: #ffffff;
  padding: 35px;
  text-decoration: none;
}

nav a:hover {
  background-color: #1F6F78;
  color: #ffffff;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

#hero-img {
  width: 100%;
}

.home-title {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: #ffffff;
  margin-top: 10px;
}

h4 {
  color: #ffffff;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
  color: #2E4F3E;
}

.card-img {
  border: 10px solid #6B6E70;
}

main section img {
  box-sizing: border-box;
}

.book,
.join {
  background-color: #1F6F78;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #2E4F3E;
  color: #ffffff;
}

#background {
  height: 725px;
  background-color: #6B6E70;
}

.msg {
  background-color: #2E4F3E;
  padding: 35px;
  line-height: 1.5em;
}

.msg h2 {
  color: #ffffff;
}

.msg p {
  color: #ffffff;
  font-size: 0.9em;
  padding-bottom: 15px;
}

footer {
  background-color: #1F6F78;
  color: #ffffff;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
}

footer a:hover {
  color: #D8CFC4;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

#logo_link {
  padding-top: 5px;
}
