body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

.content-box table {
  margin-top: 0;
  font-size: 15px;
  color: #000000;
  border: #d3d3d3 1px solid;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;

}
.content-box th, .content-box td {
  border: #000000 1px solid;
  padding: 10px;
}

form {
  margin-top: 20px;
}
form input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #0056b3;
} 
h2 {
  color: #000000;
  text-decoration: underline;
  margin-top: 0;
}