header {
    background-color: #909090;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

nav {
    background-color: #cacaca;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 2px solid #909090;
    border-radius: 10px;
    background-color: #f0f0f0;
}

main {

display: grid;
grid-template-columns: repeat(4, 1fr);
}



section#red {
    background-color: rgb(249, 139, 98);

}

section#blue {
    background-color: #40a3ff;

}
section#green {
    background-color: #01c853;
}


h1{
    text-align: center;
    text-decoration: underline;
    padding: auto;
}

p {
    text-align: center;
    font-size: larger;
    font-style: initial;
}

img {
  display: block;
  margin: auto;
  scale: 75%;
}



footer {
    background-color: #909090;
    color: white;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;

}

footer p {
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 10px;
}