header {
    background-color: #909090;
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

nav {
    background-color: #cacaca;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

h1{
    text-align: center;
    text-decoration: underline;
    padding: auto;
}

p {
    text-align: center;
    font-size: larger;
    font-style: initial;
}

img {
  display: block;
  margin: auto;
  scale: 75%;
}


footer {
    background-color: #909090;
    color: white;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;

}

footer p {
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 10px;
}